body{
    background-image: url("mountain.jpg");    
    
}
hr{
    border-style: none;
    border-color: dimgrey;
    border-width: 5%;
    width: 5%;
}
h1{
    color: rgb(9, 22, 90);
    

}
h3{
    color: rgb(53, 22, 86);
}
.bottom{
    position: absolute;
    
}